<button
  class="btn btn-primary"
  (click)="onlyOdd =! onlyOdd"
  >Only show Odd numbers</button>
  <br>
  <ul class="list-group">
    <div *ngIf="onlyOdd">
      <li
      class="list-group-item"
      [ngClass]="{'even': even%2 == 0}"
      [ngStyle]="{backgroundColor: even%2 == 0 ?  'black' : 'white'}"
      *ngFor="let even of evenNumbers"
      >{{even}}
      </li>
    </div>
    <div *ngIf="!onlyOdd">
      <li
      class="list-group-item"
      [ngClass]="{'odd': even%2 !== 0}"
      [ngStyle]="{backgroundColor: odd%2 !== 0 ?  '#eee' : 'white'}"
      *ngFor="let odd of oddNumbers"
      >{{odd}}
      </li>
    </div>
    <ng-template [ngIf]="!onlyOdd">
      <div>
        <li
        class="list-group-item"
        [ngClass]="{'odd': even%2 !== 0}"
        [ngStyle]="{backgroundColor: odd%2 !== 0 ?  '#eee' : 'white'}"
        *ngFor="let odd of oddNumbers"
        >{{odd}}
        </li>
      </div>
    </ng-template>
  </ul>
  <br>
  <p appBasicHighlight>Sample text</p>
  <p appBetterHighlight [highlightColor]="'red'">App Better appBetterHighlight</p>
