<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onChangeFirst()"
        >Change first Element</button>
      <button
        class="btn btn-danger"
        (click)="onChangeDestroy()"
        >Destroy first Element</button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [serverElement]="serverElement"
        [name]="serverElement.name">
        <p #paragraph class="mb-0"><strong
          *ngIf="serverElement.type === 'server'"
          style="color:red"
          >{{serverElement.content}}</strong>
          <em
            *ngIf="serverElement.type === 'blueprint'"
            style="color:blue"
            >{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
<div class="container">
  <app-game-control
  [count]="startCount"
  (gameStart)="getEvenOrOdd($event)"
  >
  </app-game-control>
  <div class="row">
    <div class="colxs-12">
      <app-even [evenNum]="evenNum" *ngFor="let evenNum of evenNumbers"></app-even>
    </div>
  </div>
  <div class="row">
    <div class="colxs-12">
      <app-odd [oddNum]="oddNum" *ngFor="let oddNum of oddNumbers"></app-odd>
    </div>
  </div>
</div>
